---
import Layout from '../layouts/Layout.astro'
import {pokemons} from '../data/pokemons.js'
const {pokemon} = Astro.params
const info = pokemons.find(p => p.id === pokemon)
if(!info) {
	return Astro.redirect('/404')
}
---

<Layout title={`Descripción de ${info.name}`}>
	<main class="m-auto max-w-4xl px-4">
        <div class="grid md:grid-cols-2 gap-x-4">
            <div class="flex flex-col">
                <picture>
                    <img src={info.img} alt={info.name} class="w-full"  />
                </picture>
            </div>
            <aside>
                <h1 class="text-5xl font-black text-center md:text-left my-4">{info.name}</h1>
                <p class="text-lg">{info.description}</p>
                <p>{info.type}</p>
            </aside>
        </div>
	</main>


</Layout>
